footer {
  .author {
    span {
      a {
        text-decoration: none;
        color: white;
        @include trs();

        &:hover {
          color: black;
          @include trs();
        }
      }
    }
  }
}